h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.grid-container {
    width: 90%;
    max-width: 90%;
    margin-bottom: 15px;
}

.subTitle {
    text-align: left;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-bottom: -10px;
    color: #5d5d5d90;
    font-weight: bold;
}

.grid[data-category="Large"] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    gap: 7.3%;
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    justify-items: start;
    grid-auto-rows: auto;
    grid-auto-flow: row;
}

.grid[data-category="Medium"] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    gap: 43px;
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    justify-items: start;
    grid-auto-rows: auto;
    grid-auto-flow: row;
}

.grid[data-category="Small"] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    gap: 43px;
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    justify-items: start;
    grid-auto-rows: auto;
    grid-auto-flow: row;
}

.grid-item[data-category="Large"] {
    border-radius: 8px;
    padding: 50px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
    height: 240px;
    width: 480px;
    overflow: hidden;
    background-color: rgba(148, 148, 148, 0.19);
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.10);
}

.grid-item[data-category="Medium"] {
    border-radius: 8px;
    padding: 35px 10px 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
    height: 175px;
    width: 130px;
    overflow: hidden;
    background-color: rgba(148, 148, 148, 0.19);
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.10);
}

.grid-item[data-category="Small"] {
    border-radius: 8px;
    padding: 35px 10px 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
    height: 150px;
    width: 130px;
    overflow: hidden;
    background-color: rgba(148, 148, 148, 0.19);
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.10);
}

.grid-item span {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.gray-out {
    filter: grayscale(100%);
    cursor: not-allowed;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.images-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.animation-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease-in-out;
}

.container {
    position: absolute;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container img {
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px #1a1a1a);
}

.container-1[data-category="Large"] {
    display: flex;
    bottom: 0px;
    height: 100%;
    width: 90%;
}

.container-1[data-category="Medium"] {
    display: flex;
    bottom: 0px;
    height: 95%;
    width: 100%;
}

.container-1[data-category="Small"] {
    display: flex;
    bottom: 0px;
    height: 95%;
    width: 100%;
}

.container-1 img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: clip-path 0.3s ease;
    filter: drop-shadow(5px 5px 5px #1a1a1a);
}

.container-1 img:hover {
    cursor: default;
}

.set-image {
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.set-image.grayscale {
    filter: grayscale(100%);
}

.container-2[data-category="Large"] {
    bottom: 2.5%;
    right: -1px;
    width: 40px;
    height: 40px;
}

.container-2[data-category="Medium"] {
    bottom: -50px;
    left: 2.5%;
    width: 40px;
    height: 40px;
}

.container-2[data-category="Small"] {
    bottom: -50px;
    right: 35%;
    width: 40px;
    height: 40px;
}

.container-3[data-category="Large"] {
    right: -1px;
    bottom: 22%;
    width: 40px;
    height: 40px;
}

.container-3[data-category="Medium"] {
    bottom: -50px;
    right: 35%;
    width: 40px;
    height: 40px;
}

.container-4[data-category="Large"] {
    top: 41.5%;
    right: -1px;
    width: 40px;
    height: 40px;
}

.container-4[data-category="Medium"] {
    bottom: -50px;
    right: 2.5%;
    width: 40px;
    height: 40px;
}

.container-5[data-category="Large"] {
    top: 22%;
    right: -1px;
    width: 40px;
    height: 40px;
}

.container-6[data-category="Large"] {
    top: 2.5%;
    right: -1px;
    width: 40px;
    height: 40px;
}

.container-2 img:hover,
.container-3 img:hover,
.container-4 img:hover,
.container-5 img:hover,
.container-6 img:hover {
    image-rendering: pixelated;
    cursor: pointer;
    transform: scale(1.07);
}

.set-name {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #5d5d5d90;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    width: 100%;
}

.transparent-image {
    position: absolute;
    z-index: 2;
    animation: 0.35s ease-in-out;
}

.mannequin {
    position: absolute;
    z-index: -1;
}

.small-animation-gif {
    position: absolute;
    pointer-events: none;
    image-rendering: auto;
}
